* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}


main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 26px;
}