* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

h2 {
    font-family: 'Raleway', sans-serif;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
}

input {
    border: solid 2px black;
    border-radius: 15px;
    padding: 20px;
}

button {
    padding: 10px;
    border: solid 2px black;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.7s ease;
}
button:hover {
    background-color: grey;
}